pandas==2.3.3
python-dotenv==1.2.2
minio==7.2.20
sec_api
yfinance
yahoo_fin
vnstock==4.0.3
apache-airflow-providers-amazon>=8.19.0
boto3>=1.34.0
--extra-index-url https://vnstocks.com/api/simple
vnstock_chart